@model List<ApplicationUser>

@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Lista e përdoruesve";

    var roles = (List<Microsoft.AspNetCore.Identity.IdentityRole>)ViewBag.Roles;
}

<div class="card card-custom gutter-b">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">
                Lista e përdoruesve
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="@Url.Action("Create","Perdoruesi")" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                </span>Përdorues i ri
            </a>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-separate table-head-custom" id="data-table-nosort">
            <thead>
                <tr>
                    <th>
                        Përdoruesi
                    </th>
                    <th>
                        Roli
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Llogaria e konfirmuar
                    </th>
                    <th>
                        Telefoni
                    </th>
                    <th>
                        Veprimet
                    </th>
                </tr>
            </thead>
            <tbody class="datatable-body">
                @foreach (var item in Model)
                {
                    string confirmed = "No";
                    string label = "danger";
                    if (item.EmailConfirmed)
                    {
                        confirmed = "Yes";
                        label = "success";
                    }
                    <tr>
                        <td>
                            @item.FirstName  @item.LastName
                        </td>
                        <td>
                            @{
                                var user = await userManager.FindByIdAsync(item.Id);
                            }
                            @userManager.GetRolesAsync(user).Result[0]
                        </td>
                        <td>
                            <a href="mailto:@item.Email">@item.Email</a>
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            <span class="label label-lg font-weight-bold label-light-@label label-inline">@confirmed</span>
                        </td>
                        <td>
                            <a href="tel:@item.PhoneNumber">@item.PhoneNumber</a>
                        </td>
                        <td>
                            <div class="flex sm:justify-center items-center">
                                <a href="@Url.Action("Edit",new {id = item.Id })" class="btn btn-icon btn-outline-primary btn-xs" title="Profile">
                                    <i class="flaticon2-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>